{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}

    {% block style %}
        {# Это общая css для всех страниц #}
        <link rel="stylesheet" href="static/css/style.css">
        {# Но каждая страница может содержать доп.уникальные css #}
    {% endblock %}
</head>
<body>
    {% include 'header.html'%}
<main>
    {#  Содержимое этого блока уникально на каждой странице #}
    {% block content %}
    {% endblock %}
</main>
{% include 'footer.html'%}
</body>
</html>