<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/about">About</a></li>
         </ul>





    <h1>Приветствую!</h1>
    Меня зовут <i>{{name}}</i><br>
    Моя почта: <i>{{email}}</i><br><br>
    Это главная страница сайта<br>
    <i>Сайт пока в разработке...</i>
    <p><a href="/items">Список товаров </a></p>
</body>
</html>